@import url(./reset.css);
/*  reset css */

/* keyframes  */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: quentin;
  src: url(../font/Quentin.woff);
}
/* font family */
$main-font: "karla";
$kor-font: "Noto Sans KR";
$point-font: "quentin";

$main-color: #111111;
$point-color: #04a6e1;

$nomal-size: 1.25rem;
$middle-size: 2.5rem;
$bic-size: 4.688rem;

/* 변수 */

.container_nav_box {
  margin-top: 4rem;
  .container_text_button {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    h2 {
      font-family: $main-font;
      font-size: $bic-size;
      b {
        color: $point-color;
      }
    }
  }
}
/* container_nav_box */
.container_list {
  margin-top: 5.5rem;
  .container_list_box {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li {
      width: 17.5%;
      height: 13.3rem;
      border-radius: 4.3rem;
      box-shadow: -1px 7px 15px -3px rgba(84, 123, 217, 0.19);
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        width: 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.4s;
      }
      &:nth-child(1):hover::after {
        background-image: url(../images/branding/branding01.png);
        background-position: center center;
        border-radius: 4.3rem;
        width: 100%;
        height: 100%;
      }
      &:nth-child(2):hover::after {
        background-image: url(../images/branding/branding02.png);
        background-position: center center;
        border-radius: 4.3rem;
        width: 100%;
        height: 100%;
      }
      &:nth-child(3):hover::after {
        background-image: url(../images/branding/branding03.png);
        background-position: center center;
        border-radius: 4.3rem;
        width: 100%;
        height: 100%;
      }
      &:nth-child(4):hover::after {
        background-image: url(../images/branding/branding04.png);
        background-position: center center;
        border-radius: 4.3rem;
        width: 100%;
        height: 100%;
      }
      &:nth-child(5):hover::after {
        background-image: url(../images/branding/branding05.png);
        background-position: center center;
        border-radius: 4.3rem;
        width: 100%;
        height: 100%;
      }
      &:hover p {
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;
        padding-left: 0.3rem;
        font-size: 1.3rem;
      }
      &:hover img {
        display: block;
        position: relative;
        z-index: 1;
      }
      span {
        display: block;
        padding-top: 3rem;
        padding-left: 2rem;
        font-family: $main-font;
        color: $point-color;
        font-size: 1rem;
      }
      p {
        display: block;
        padding-left: 2rem;
        padding-top: 1rem;
        font-family: $kor-font;
        font-weight: bold;
        font-size: $nomal-size;
      }
      img {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5%;
        display: block;
        animation: arrow 0.4s ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        display: none;
      }
      @keyframes arrow {
        0% {
          margin-top: 5%;
        }
        100% {
          margin-top: 10%;
        }
      }
    }
  }
}
/* contaier_list */
.container_inner {
  margin-top: 8rem;

  .container_BG {
    width: 100%;
    background: #222222;
    height: 130vh;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/branding/story_before.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #222222;
      width: 4rem;
      height: 2rem;
      position: absolute;
      top: -1.8rem;
      left: 21%;
      z-index: -100;
    }
    .container_inner_box {
      width: 75%;
      margin: 0 auto;
      padding-top: 5rem;
      h2 {
        color: white;
        font-size: 2.8rem;
        font-family: $kor-font;
        font-weight: 300;
      }
      .container_item {
        display: flex;
        p {
          display: block;
          width: 65%;
          color: #999999;
          font-size: 1rem;
          margin-top: 2rem;
          line-height: 1.6rem;
          font-weight: 500;
        }
      }
      .container_img_box {
        width: 31.2%;
        background-image: url(../images/branding/branding_visual_box_img02.png);
        background-size: cover;
        background-position: center;
        height: 23vh;
        overflow: hidden;
        position: relative;
        animation: move 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        @keyframes move {
          0% {
            background-position-y: top;
          }
          50% {
            background-position-y: bottom;
          }
          100% {
            background-position-y: center;
          }
        }
        img {
          width: 100%;
          height: 23vh;
        }
      }
    }
    .text_list {
      width: 75%;
      margin: 5rem auto 0;
      display: flex;
      justify-content: space-between;
      li {
        width: 18%;

        span {
          color: white;
          font-family: $kor-font;
          font-weight: 400;
          font-size: 1.5rem;
          padding: 0 0 1rem;
          position: relative;
          display: block;
          width: 100%;
          &::after {
            content: "";
            width: 100%;
            border-bottom: 2px solid white;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          sup {
            color: $point-color;
            font-size: 0.8rem;
          }
        }
        p {
          color: #d2d2d2;
          font-family: $kor-font;
          font-weight: 300;
          display: block;
          margin-top: 2rem;
        }
      }
    }
  }
}
/* container_inner */
footer {
  margin-top: 4rem;
  padding-bottom: 2rem;
  .footer_box {
    width: 64%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: $kor-font;
    font-size: 1rem;
    padding-top: 3rem 0;
    max-width: 1720px;

    p {
      color: #999999;
    }
    b {
      color: #000;
      font-weight: bold;
    }
    .footer_button {
      width: 12rem;
      background-color: transparent;
      border: 1px solid #c7c7c7;
      padding: 0.8rem 0.7rem;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      cursor: pointer;
      position: relative;
      .text_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span,
        i {
          font-size: 0.8rem;
          color: #767676;
          transition: all 300ms ease;
        }
        i.ion {
          transform: rotate(45deg);
          transition: all 300ms ease;
        }
      }

      li {
        color: #767676;
        transition: all 300ms ease;
        a {
          color: #767676;
        }
      }
    }
    .button_over {
      position: absolute;
      width: 100%;
      height: 15rem;
      left: 0;
      top: -550%;
      overflow: hidden;
      .button_list.on {
        transform: translateY(0px);
        transition: all 900ms ease;
      }
      .button_list {
        background-color: white;
        border-radius: 2%;
        border: 1px solid #c7c7c7;
        width: 100%;
        height: 15rem;
        transform: translateY(245px);
        transition: all 900ms ease;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        li {
          width: 100%;
          height: 100%;

          a {
            font-family: $kor-font;
            font-size: 1rem;
            padding: 1.2rem 0.3rem;
          }
        }
      }
    }
  }
}
/* footer */

@import "./sub4_media.scss";
