@import url(./reset.css);
/*  reset css */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@-webkit-keyframes middle_line {
  0% {
    background: #000;
    width: 0%;
    left: 0;
  }
  50% {
    background-color: #04a6e1;
    width: 50%;
    left: 0;
  }
  100% {
    background-color: #04a6e1;
    width: 100%;
    left: 0;
  }
}
@keyframes middle_line {
  0% {
    background: #000;
    width: 0%;
    left: 0;
  }
  50% {
    background-color: #04a6e1;
    width: 50%;
    left: 0;
  }
  100% {
    background-color: #04a6e1;
    width: 100%;
    left: 0;
  }
}
/* keyframes  */
@font-face {
  font-family: quentin;
  src: url(../font/Quentin.woff);
}
/* font family */
/* ======================================================== */
@media (max-width: 1700px) {
  html {
    font-size: 12px;
  }
  .header_main .header_menu_btn {
    background: #000;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
  }
  .header_main .header_menu_btn ul {
    width: 50%;
    height: 22%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header_main .header_menu_btn ul li {
    width: 100%;
    background: white;
    height: 0.13rem;
  }
  /* header */
  .container_list .container_list_box li {
    height: 15rem;
  }
  .container_list .container_list_box li p {
    padding-top: 1.2rem;
  }
  /* container_list */
  .container_inner .bg_box {
    height: 100vh;
  }
  .container_inner .container_BG {
    height: 100vh;
  }
}
/* ======================================PC */
@media (max-width: 1280px) {
  html {
    font-size: 11px;
  }
  .header_main {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 0;
  }
  .header_main .logo a {
    display: block;
    width: 6.938rem;
    height: 2.5rem;
    background-image: url(../images/main/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .header_main .header_menu_btn {
    background: #000;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
  }
  .header_main .header_menu_btn ul {
    width: 50%;
    height: 22%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header_main .header_menu_btn ul li {
    width: 100%;
    background: white;
    height: 0.13rem;
  }
  /* header */
  .container_nav_box .container_text_button {
    width: 75%;
  }
  /* container_nav_box */
  .container_list .container_list_box {
    width: 75%;
  }
  /* contianer_list */
  .container_inner .bg_box {
    height: 103vh;
  }
  .container_inner .container_BG {
    height: 103vh;
  }
  .container_inner .container_BG::before {
    left: 17%;
  }
  /* contianer_inner */
  footer .footer_box {
    width: 75%;
  }
}
/* =================================pc2 */
@media (max-width: 1000px) {
  .header_main {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 0;
  }
  .header_main .logo a {
    display: block;
    width: 6.938rem;
    height: 2.5rem;
    background-image: url(../images/main/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .header_main .header_menu_btn {
    background: #000;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
  }
  .header_main .header_menu_btn ul {
    width: 50%;
    height: 22%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header_main .header_menu_btn ul li {
    width: 100%;
    background: white;
    height: 0.13rem;
  }
  /* header */
  .container_nav_box .container_text_button {
    width: 90%;
  }
  /* container_nav_box */
  .container_list .container_list_box {
    width: 90%;
  }
  /* contianer_list */
  .container_inner .bg_box {
    height: 106vh;
  }
  .container_inner .container_BG {
    height: 106vh;
  }
  .container_inner .container_BG::before {
    left: 11%;
  }
  .container_inner .container_BG .container_inner_box {
    width: 90%;
  }
  .container_inner .container_BG .text_list {
    width: 90%;
  }
  /* container */
  footer .footer_box {
    width: 90%;
  }
}
/* ===========================================tablet */
@media (max-width: 768px) {
  .header_main .header_menu_bar {
    display: none;
  }
  /*  header */
  .container_list {
    overflow: scroll;
  }
  .container_list .container_list_box {
    width: 120%;
    padding-bottom: 1rem;
  }
  /* contianer_list */
  .container_inner .bg_box {
    height: 155vh;
  }
  .container_inner .container_BG {
    height: 155vh;
  }
  .container_inner .container_BG::before {
    left: 7%;
  }
  .container_inner .container_BG .container_inner_box {
    width: 90%;
  }
  .container_inner .container_BG .container_inner_box .container_item {
    flex-direction: column-reverse;
  }
  .container_inner .container_BG .container_inner_box .container_item p {
    width: 90%;
    font-size: 1.3rem;
    text-align: left;
  }
  .container_inner .container_BG .container_img_box {
    width: 70%;
    margin: 0 auto;
  }
  .container_inner .container_BG .text_list {
    flex-wrap: wrap;
    width: 90%;
  }
  .container_inner .container_BG .text_list li {
    width: 30%;
    margin-top: 2rem;
  }
  .container_inner .container_BG .text_list li:last-child {
    margin-right: 36%;
  }
  /* container */
  footer .footer_box {
    width: 90%;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  footer .footer_box .footer_button {
    margin: 0 auto;
    margin-top: 1rem;
  }
}
/* ==========================================mobile *//*# sourceMappingURL=sub4_media.css.map */