$mobile_mini: 640px;
$mobile: 768px;
$tablet: 1000px;
$pc2: 1280px;
$pc: 1700px;
@import "./variable.scss";

@mixin device($max) {
  @media (max-width: $max) {
    @content;
  }
}
/* ======================================================== */
@include device($pc) {
  html {
    font-size: 12px;
  }
  .header_main {
    .header_menu_btn {
      background: #000;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 50%;
      ul {
        width: 50%;
        height: 22%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          width: 100%;
          background: white;
          height: 0.13rem;
        }
      }
    }
  }
  /* header */
  .container_content {
    .container_box {
      h4 {
      }
      .content_inner {
        height: 150vh;
      }
    }
  }
}

/* ======================================PC */

@include device($pc2) {
  html {
    font-size: 11px;
  }
  .header_main {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 0;
    .logo {
      a {
        display: block;
        width: 6.938rem;
        height: 2.5rem;
        background-image: url(../images/main/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    .header_menu_btn {
      background: #000;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 50%;
      ul {
        width: 50%;
        height: 22%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          width: 100%;
          background: white;
          height: 0.13rem;
        }
      }
    }
  }
  /* header */
  .container_nav_box {
    .container_text_button {
      width: 75%;
    }
  }
  /* container_nav_box */
  .banner {
    height: 40vh;
    .banner_content {
      width: 75%;
      .banner_text_box {
        margin-top: 4rem;
      }
    }
  }
  /* banner */
  .container_content {
    margin-top: 4rem;
    .container_box {
      width: 75%;
      .content_inner {
        height: 135vh;
      }
    }
  }
  /* container_content */
  footer {
    .footer_box {
      width: 75%;
    }
  }
}

/* =================================pc2 */

@include device($tablet) {
  .header_main {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.25rem 0;
    .logo {
      a {
        display: block;
        width: 6.938rem;
        height: 2.5rem;
        background-image: url(../images/main/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    .header_menu_btn {
      background: #000;
      width: 3.3rem;
      height: 3.3rem;
      border-radius: 50%;
      ul {
        width: 50%;
        height: 22%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          width: 100%;
          background: white;
          height: 0.13rem;
        }
      }
    }
  }
  /* header */
  .container_nav_box {
    .container_text_button {
      width: 90%;
    }
  }
  /* container_nav_box */
  .banner {
    height: 40vh;
    .banner_content {
      width: 90%;
      .banner_text_box {
        margin-top: 4rem;
      }
    }
  }
  /* banner */
  .container_content {
    margin-top: 4rem;
    .container_box {
      width: 90%;
      .content_inner {
        height: 130vh;
      }
    }
  }
  /* container_content */
  footer {
    .footer_box {
      width: 90%;
    }
  }
}

/* ===========================================tablet */

@include device($mobile) {
  .header_main {
    .header_menu_bar {
      display: none;
    }
  }
  /* header */
  .banner {
    height: 100vh;
    .banner_content {
      padding-top: 75rem;
      flex-direction: column-reverse;
      .banner_text_box {
        width: 80%;
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.1rem;
        }
      }

      .banner_img_box {
        width: 95%;
        flex-direction: column-reverse;
        margin: 0 auto;

        .slide_btn {
          flex-direction: row;
          width: 80%;
          margin-left: 2rem;
          margin-top: 2rem;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          li {
            width: 10%;
            margin: 0;

            .radius_btn {
              width: 1rem;
              height: 1rem;
              display: block;
            }
            &:nth-child(1) {
              position: relative;
              img {
                position: absolute;
                top: -12px;
                left: 0;
              }
            }
            &:nth-child(7) {
              position: relative;
              img {
                position: absolute;
                top: -23px;
                right: 30px;
              }
            }
            img {
              width: 30%;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
  /* banner */
  .container_content {
    .container_box {
      .content_inner {
        height: 200vh;
        flex-wrap: wrap;
        li {
          width: 30%;
        }
      }
    }
  }
  /* container_content */

  footer {
    .footer_box {
      width: 90%;
      flex-wrap: wrap;
      font-size: 1.2rem;

      .footer_button {
        margin: 0 auto;
        margin-top: 1rem;
      }
    }
  }
}

/* ==========================================mobile */
